*{
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: lightgray;
}
a{
    text-decoration: none;
}
.title{
    position: absolute;
    left: 10%;
    font-size: 70px;
    border: 2px dashed black;
}
 .menu a {
    position:relative;
    color:black;
    font-size: 70px;
    text-align: center;
    border: 4px dotted black;
    top: 0;
    right: 10px;
    margin: 1%; 
}
.menu a:before{
    content: '';
    position: absolute;
    top: -1.5px;
    left: -1px;
    bottom: -1.5px;
    right: -2.5px;
    border: 1px solid black;
}
.floater{
    float: left;
    height: 10%;
    position: fixed;
    top:1%;
    left: 0.5%;
}
.menu{
    background-color: gray;
    border: 10px solid gray;
    text-align: right;
    width: 99%;
    height: 100%;
}
.menu a:hover {
    color: maroon;
}
.menu a:active {
    color: brown;
}
.product-box{
    display: block;
    position:absolute;
    background-image: url("pictures/baguette.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    height: 87%;
    top:11%;
    left:0;
    color: aliceblue;
}
.home-box{
    display: block;
    position:absolute;
    background-image: url("pictures/variants.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height: 43%;
    top: 11%;
    left: 40%;
}
.deserts-box{
    display: block;
    position:absolute;
    background-image: url("pictures/deserts.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height: 43%;
    top: 55%;
    left: 40%;
    color: black;
}
.cafe-box{
    display: block;
    position:absolute;
    background-image: url("pictures/cafe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    height:87%;
    top:11%;
    right: 0;
    color: white;
}
.sidebar a{
    margin: 1%;
    animation: 1s linear running pictureAnimations;
    font-size: 500%;
    outline: auto;
}
.sidebar a:hover{
    opacity: 0.7;
}

.productMain-box{
    position: absolute;
    background-image: url(pictures/zopf.jpg);
    background-size: cover;
    height: 200px;
    width: 300px;
    top: 45%;
    left: 45%;
}
.cafeMain-box{
    position: absolute;
    background-image: url(pictures/cafeMainBild.jpg);
    background-size: cover;
    height: 200px;
    width: 300px;
    top: 45%;
    left: 45%;
}
.desertMain-box{
    position: absolute;
    background-image: url(pictures/deserts.jpg);
    background-size: cover;
    height: 200px;
    width: 300px;
    top: 45%;
    left: 45%;
}
.main-titles{
    position: absolute;
    top: 37%;
    left: 48.5%;
    font-size: 70px;
}
.long-main-titles{
    position: absolute;
    top: 37%;
    left: 45%;
    font-size: 70px;
}

#menuAnimations{
    animation: 0.8s linear running menuAnimations;
}

@keyframes pictureAnimations{
    from{margin-top:50%;}
    to{margin-top:1%;}
}
@keyframes menuAnimations{
    from{margin-top:-10%;}
    to{margin-top:1%;}
}
