*{
    font-family: Arial;
}
body {
    background-color: white;
}
.menu {
    font-size: 100px;
    color: black;

}
.menu:hover {
    color: yellow
}
.menu:active {
    color: purple
}
#animation {
    width: 400px;
  height: 200px;
  position: relative;
  background: white;
}